@{
    ViewBag.Title = "About";
    Layout = null;
}
<h2>Congrats!!!!!</h2>
<p>@ViewBag.Deal.ProductName</p>
<p>@ViewBag.Deal.ProductId</p>
<p>@ViewBag.Deal.ProductPrice</p>
<p>@ViewBag.Deal.PersonName</p>
